
// MyTabs=======================================================

.tabs {
  &__panel {
    display: none;
  }

  &__nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border: rem(2) solid $mainBlue;
  }

  &__panel--active {
    display: block;
  }

  &__nav-btn {
    @include adaptiv-value("height", 56, 30, 1);
    font-weight: 600;

    &:focus {
      color: #fff;
      background-color: $mainBlue;
    }
  }

  &__nav-btn--active {
    color: #fff;
    background-color: $mainBlue;
  }
}
.panel-tabs {
  @include adaptiv-value("padding-top", 32, 9, 1);
  &__wrapper {
    position: relative;
  }
  &__images-ibg {
    position: relative;
    padding-bottom: prc(700, 1200);
  }
}
@keyframes pulse {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.item-tabs {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    display: block;
    background: $mainBlue;
    @include adaptiv-value("width", 22, 12, 1);
    @include adaptiv-value("height", 22, 12, 1);
    border-radius: 50%;
    animation: pulse 2s infinite normal both;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
  &__img {
    @include adaptiv-value("width", 39, 17, 1);
    @include adaptiv-value("height", 39, 17, 1);
  }
  &__wrap {
    position: absolute;
    bottom: 120%;
    transition: opacity 0.4s;
    opacity: 0;
    pointer-events: none;
  }
  &__content {
    color: $mainBlue;
    font-family: Montserrat;
    @include adaptiv-value("font-size", 16, 12, 1);
    font-weight: 400;
    line-height: 160%;
    white-space: nowrap;
    text-align: center;
    color: #636c81;
    @include adaptiv-value("padding-top", 11, 6, 1);
    @include adaptiv-value("padding-right", 11, 9, 1);
    @include adaptiv-value("padding-bottom", 11, 6, 1);
    @include adaptiv-value("padding-left", 11, 9, 1);
    background: #fff;
    opacity: 0.8;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #fff transparent transparent transparent;
      opacity: 0.8;
      left: 50%;
      bottom: -4px;
      margin: 0 0 0 -4px;
    }
  }
  @media (any-hover: hover) {
    &:hover {
      .item-tabs__wrap {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  &_1 {
    bottom: 3%;
    left: 16%;
  }
  &_2 {
    bottom: 34%;
    left: 31%;
  }
  &_3 {
    bottom: 73%;
    left: 46%;
  }
  &_4 {
    bottom: 28%;
    right: 4.5%;
  }
}

.item-tabs-active .item-tabs__wrap {
  opacity: 1;
  pointer-events: auto;
}

//==================================================================
